<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD
  Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>


<web-app>

    <servlet>
        <servlet-name>Application</servlet-name>
        <servlet-class>main.java.AppMainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Application</servlet-name>
        <url-pattern>/appmain</url-pattern>
    </servlet-mapping>

</web-app>